body {
	/*background-color: rgba(238, 238, 238, 0.3) !important;*/
	background-color: rgba(0, 0, 128, 0.6) !important;
	background-image: url("ASholiday.jpg");
	background-blend-mode: color;
	color: white;
}
.container {
	padding: 20px;
}
.words{
	display: inline;
}
.spanbox {
	color: green;
	font-size: large;
	border-style: dotted;
	border-color: red;
	background-color: white;
}

.twas {
	color:white;
}